<p id="notice"><%= notice %></p>
<div class="parallax-container">


<h1>Mom's Club of Layton</h1>


<div class="parallax"><img src="images/parallax1.jpg"></div>
<div class="parallax"><img src="images/parallax1.jpg"></div>
<div class="parallax"><img src="images/parallax1.jpg"></div>
<div class="parallax"><img src="images/parallax1.jpg"></div>
<div class="parallax"><img src="images/parallax1.jpg"></div>
<div class="parallax"><img src="images/parallax1.jpg"></div>
<div class="parallax"><img src="images/parallax1.jpg"></div>




<div class="parallax"><img src="images/parallax1.jpg"></div>
</div>

















<br>

<%= link_to 'New Content', new_content_path %>
